@import "../../stylesMixin";

.time-btn {
  @include button-rounded();
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $accent-blue;
  cursor: pointer;

  &.active {
    @include button-rounded($accent-green);
    color: white;
  }
}