//@import url('./styleVariables.scss');
//font-family: Montserrat;

$primary: #ECF2FF;
$accent-green: #43D000;
$accent-blue: #5957DB;
$text: #666666;

@mixin test() {
  display: flex;
}

@mixin text($weight: normal, $text-color: $text, $size: 16px) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 2px;
  color: $text-color;
}

@mixin button($bg-color: $primary, $width: 300px, $height: 120px) {
  width: $width;
  height: $height;

  background: $bg-color;
  text-align: center;
  border-radius: 8px;
  transition: all ease-in 0.3s;

  &:hover {
    box-shadow: 0px 8px 20px rgba(67, 208, 0, 0.6);
  }
}

@mixin button-rounded($bg-color: $primary, $width: 190px, $height: 60px) {
  @include button($bg-color, $width, $height);
  border-radius: 30px;
}