@import "../../stylesMixin";

.payment {
  height: calc(100vh - 80px);
  width: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.ticket {
  background-color: $accent-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pay {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}