@import "../../stylesMixin";

$slide-count: 5;
$slide-width: 30rem;

html {
  box-sizing: border-box;
  font-size: 10px;
  @media (max-width: 425px) {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
  margin-top: 60px;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 120px;
  position: relative;
  width: calc(#{$slide-width * 3});
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-100%);
  width: calc(#{($slide-count + 0.5) * $slide-width * 2});
}

.carousel__slide-item {
  display: inline-block;
  background: #ECF2FF;
  border-radius: 8px;
  margin: 0;
  padding: 30px;
  height: 100%;
  position: absolute;
  transition: all ease-in 0.3s;
  width: 300px;
  cursor: pointer;
  color: $accent-blue;

  &.active {
    background: #43D000;
    box-shadow: 0px 8px 20px rgba(67, 208, 0, 0.6);
    border-radius: 8px;
    color: white;
  }
}


.carousel-slide-item__body {
  .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
  }

  p {
    margin: 10px 0 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}

.carousel__btn {
  height: 100%;
  width: 80px;
  background: #ECF2FF;
  border-radius: 8px;
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease-in 0.3s;

  &--prev {
    left: -10rem;
  }

  &--next {
    right: -10rem;
  }

  &:hover {
    .carousel__btn-arrow {
      border-color: #bbc8e0;
    }
  }
}

.carousel__btn-arrow {
  border: solid #CCDAF4;
  border-width: 0 0.3rem 0.3rem 0;
  height: 10px;
  padding: 3px;
  width: 10px;
  z-index: 10;

  &--left {
    transform: rotate(135deg);
  }

  &--right {
    transform: rotate(-45deg);
  }
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);

  .dot {
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin: 0 0.3rem;
    outline: none;
    transform: scale(0.5);
    width: 2rem;

    &.active {
      background: black;
    }
  }
}